h1 {
  text-align: center;
  color: darkslategray;
  font-style: oblique;
}

h2 {
  text-align: center;
  color: darkslategray;
  font-style: inherit;
}

h3 {
  text-align: center;
  color: darkslategray;
  font-style: italic;
}
.f {
  font-family: "Caveat", cursive;
}

.skill-header {
  text-align: left;
}

.skill-container {
  border: solid lightslategrey;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation a {
  text-decoration: none;
  color: #3b4942;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}
.navigation a:hover {
  background-color: #3b4942;
  color: #fff;
}

body {
  background-image: url(https://www.teahub.io/photos/full/185-1854442_nature.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}
